[Desktop Entry]
Name=DBus App Launching
Exec=/usr/bin/dbus-launch
Terminal=false
Type=System
StartupNotify=false
Categories=Utility;
ROPaths=^/sys/kernel/security/apparmor/\.access;
RWPaths=^~/\.local/share/dbus\-1/;
