[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Desmume Nintendo DS Simulator
Exec=desmume-glade
Icon=desmume-glade
Categories=Game;
