[Desktop Entry]
Exec=dia-normal
Icon=dia-normal
Terminal=false
Type=Application
Categories=Development;
Name=Dia graph editor
MimeType=application/x-dia-diagram;
