[Desktop Entry]
Name=DMenu
Exec=/usr/bin/dmenu
Terminal=false
Type=Desktop
StartupNotify=true
Categories=Settings;DesktopSettings;Utility;
Keywords=Configuration;Menu;User;
Icon=dmenu
