[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Icon=eclipse
Exec=eclipse
Terminal=false
Categories=Development;IDE;Java;
LibraryCaps=documents;
LibraryCapsCustom=programming;
MimeType=application/java;application/x-java-class;text/x-java-source;application/x-java-commerce;application/x-java-archive;
RWPaths=^~/\.eclipse;^~/\.p2;
