[Desktop Entry]
Exec=equation-grapher_en
Icon=gtk-missing-image
Terminal=false
Type=Application
Categories=System;
Name=Unknown equation-grapher_en (p2)
