[Desktop Entry]
Name=ICC Profile Installer
Comment=Install ICC profiles
Categories=System;
Exec=/usr/bin/gcm-import %F
Terminal=false
Type=Desktop
Icon=application-vnd.iccprofile
StartupNotify=true
NoDisplay=true
MimeType=application/vnd.iccprofile;
X-Ubuntu-Gettext-Domain=gnome-color-manager

