[Desktop Entry]
Name=Gnome Encfs Manager
Name[ar]=Gnome Encfs Manager
Name[ca@valencia]=Gestor Encfs de Gnome
Name[de]=Gnome Encfs Manager
Name[el]=Διαχειριστής του Encfs για το Gnome
Name[es]=Gestor de Encfs de Gnome
Name[fr]=Gestionnaire Gnome Encfs
Name[gl]=Xestor de Gnome Encfs
Name[it]=Gnome Encfs Manager
Name[ja]=Gnome Encfs Manager
Name[lt]=Gnome Encfs Tvarkytuvė
Name[nl]=Gnome Encfs Manager
Name[pl]=Gnome Encfs Manager
Name[pt_BR]=Gerenciador Gnome Encfs
Name[sr]=Гномов управник шифрованим системима датотека
Name[tr]=Gnome Encfs Yöneticisi
Comment=A manager and mounter for encfs stashes
Comment[ar]=برنامج لإدارة وضمّ المخابئ لبرنامج encfs
Comment[ca@valencia]=Gestor i muntador de volums encfs
Comment[de]=Ein Verwalter für Encfs-Verzeichnisse
Comment[el]=Εργαλείο διαχείρισης και προσάρτησης κρυπτών του encfs
Comment[es]=Un gestor y montador de volúmenes encfs
Comment[fr]=Un gestionnaire et monteur de cachettes encfs
Comment[gl]=Un xestor para montar volumes cifrados con encfs
Comment[it]=Un programma per montare e gestire archivi encfs
Comment[lt]=Encfs slėptuvių prijungiklis ir tvarkytuvė
Comment[nl]=Een beheerder en koppelaar voor encfs mappen
Comment[pl]=Narzędzie do zarządzania i montowania schowków encfs
Comment[pt_BR]=Um gerenciador e montador de arquivos escondidos Encfs
Comment[ru]=Менеджер и монтировщик encfs томов
Comment[sr]=Управник који качи шифроване системе датотека
Comment[tr]=Encfs depoları için yönetici ve bağlayıcı
Exec=sh -c 'killall -9 gnome-encfs-manager; gnome-encfs-manager;'
Terminal=false
Type=Desktop
Icon=gnome-encfs-manager
Categories=GNOME;System;GTK;Security;
StartupNotify=false
