[Desktop Entry]
Name=Gourmet
GenericName=Recipe Manager
X-GNOME-FullName=Gourmet Recipe Manager
X-GNOME-FullName[af]=Gourmet Resep Bestuurder
X-GNOME-FullName[ar]=مدير الوصفات قورمية
X-GNOME-FullName[az]=Qurman Resept İdarə edicisi
X-GNOME-FullName[bg]=Gourmet мениджър на рецепти
X-GNOME-FullName[ca]=Gestor de receptes Gourmet
X-GNOME-FullName[cs]=Správce receptů Gourmet
X-GNOME-FullName[da]=Gourmet - Opskrifthåndtering
X-GNOME-FullName[de]=Gourmet Rezepteverwaltung
X-GNOME-FullName[de_AT]=Gourmet Rezept Manager
X-GNOME-FullName[el]=Διαχείριση συνταγών Gourmet
X-GNOME-FullName[en_GB]=Gourmet Recipe Manager
X-GNOME-FullName[es]=Gestor de recetas Gourmet
X-GNOME-FullName[fi]=Gourmet-reseptienhallinta
X-GNOME-FullName[fr]=Gestionnaire de recettes Gourmet
X-GNOME-FullName[ga]=Bainisteoir Oidis Gourmet
X-GNOME-FullName[gl]=Xestor de Receitas Gourmet
X-GNOME-FullName[he]=מנהל המתכונים גורמה
X-GNOME-FullName[hr]=Gourmet Recipe Manager
X-GNOME-FullName[hu]=Gourmet receptkezelő
X-GNOME-FullName[id]=Gourmet Recipe Manager
X-GNOME-FullName[it]=Gourmet - Gestore ricette
X-GNOME-FullName[lt]=Gurmanų Receptų Manedžeris
X-GNOME-FullName[mk]=Gourmet менаџер на рецепти
X-GNOME-FullName[nb]=Gourmet Recipe Manager
X-GNOME-FullName[nl]=Gourmet-receptbeheer
X-GNOME-FullName[nl_BE]=Gourmet Receptenbeheerder
X-GNOME-FullName[oc]=Gestionari de recèptas Gourmet
X-GNOME-FullName[pl]=Gourmet - menedżer szefa kuchni
X-GNOME-FullName[pt]=Gestor de Receitas Gourmet
X-GNOME-FullName[ro]=Administrator rețete culinare Gourmet
X-GNOME-FullName[ru]=Менеджер рецептов Gourmet
X-GNOME-FullName[sk]=Správca receptov Gourmet
X-GNOME-FullName[sl]=Gurman, upravljalnik receptov
X-GNOME-FullName[sr]=Управник рецепта Гурманко
X-GNOME-FullName[sv]=Gourmet recepthanteraren
X-GNOME-FullName[tr]=Gourmet Tarif Yöneticisi
X-GNOME-FullName[uk]=Gourmet менеджер рецептів
X-GNOME-FullName[zh_CN]=Gourmet食谱管理软件
X-GNOME-FullName[zh_HK]=Gourmet食譜管理員
Comment=Organize recipes, create shopping lists, calculate nutritional information, and more.
Comment[af]=Organiseer resepte, stel inkopieslyste op, bepaal voedingswaardes, en meer.
Comment[ar]=تنسيق الوصفات, انشاء قائمة مشتريات, حساب القيمة الغذائية, و المزيد
Comment[az]=Reseptlərin yer-bə-yer edilməsi, alış-veriş siyahısının yaradılması, nurtonal məlumatın hesablanması və daha bir çox şey.
Comment[bg]=Организиране на рецепти, създаване на списъци за покупки, изчисляване на хранителна информация и още.
Comment[ca]=Organitzeu receptes, realitzeu llistes de la compra, calculeu informació nutricional i molt més.
Comment[cs]=Správa receptů, vytváření nákupních seznamů, výpočet nutričních hodnot a mnohem více
Comment[da]=Organisér opskrifter, lav indkøbslister, udregn ernæringsmæssig information og mere.
Comment[de]=Rezepte organisieren, Einkaufslisten erstellen, Nährwertangaben berechnen und mehr.
Comment[el]=Οργανώστε συνταγές, δημιουργήστε καταστάσεις αγορών, υπολογίστε τις διατροφικές πληροφορίες και άλλα
Comment[en_GB]=Organise recipes, create shopping lists, calculate nutritional information, and more.
Comment[es]=Organiza recetas, crea listas de la compra, calcula información nutricional, y más.
Comment[fi]=Järjestä reseptejä, luo ostoslistoja, laske ravintoarvoja ja muuta.
Comment[fr]=Organiser des recettes, créer des listes de courses, calculer des informations nutritionnelles, et bien d’autres choses.
Comment[he]=סידור מתכונים, עריכת רשימת קניות, חישובי ערכים תזונתיים, ועוד.
Comment[hr]=Organiziraj recepte, kreiraj liste za kupovinu, izračunaj nutricionističke vrijednosti i više.
Comment[hu]=Receptek rendezése, bevásárlólisták készítése, tápérték-információk számítása és egyéb szolgáltatások.
Comment[it]=Organizza ricette, crea liste della spesa, calcola informazioni nutrizionali e molto altro ancora
Comment[nb]=Organiser oppskrifter, lage handlelister, kalkulere næringsinformasjon og mer.
Comment[nl]=Recepten organiseren, boodschappenlijsten maken, voedingswaarden berekenen en meer.
Comment[oc]=Organizar de recèptas, crear de listas de corsas, calcular de caracteristicas nutricionalas, e plan mai de causas encara.
Comment[pl]=Porządkuj przepisy, twórz listy zakupów, obliczaj informacje odżywcze i dużo więcej.
Comment[pt_BR]=Organize as receitas, criar listas de compras, calcular as informações nutricionais, e muito mais.
Comment[ro]=Organizați rețete culinare, creați liste de cumpărături, calculați informații nutriționale și altele.
Comment[ru]=Управляйте своими рецепты, создавайте списки покупок, расчитывайте информацию о питательной ценности продуктов и т.д.
Comment[sk]=Zorganizujte svoje recepty, vytvárajte si nákupné zoznamy, spočítajte si nutričné hodnoty a omnoho viac.
Comment[sl]=Organizirajte recepte, ustvarjajte nakupovalne sezname, izračunajte hranljive vrednosti in več.
Comment[sr]=Организујте рецепте, направите спискове за куповину, израчунајте хранљиве вредности и још много тога.
Comment[sv]=Organisera recept, skapa inköpslistor och beräkna näringsinformation med mera
Comment[tr]=Tarifleri düzenle, alışveriş listeleri yarat, beslenmeye ait bilgileri hesapla, ve daha fazlası
Comment[zh_CN]=整理食谱、创建购物单、计算营养信息、等等。
Keywords=recipes;cooking;nutrition;nutritional information;shopping lists;
Exec=gourmet
Terminal=false
Type=Application
Categories=GTK;Utility;
StartupNotify=true
Icon=gourmet
