[Desktop Entry]
Name=GNU Paint
Comment=A small-scale painting program for GNOME, the GNU Desktop
TryExec=gpaint
Exec=gpaint
Icon=gpaint.svg
Terminal=0
Type=Application
Categories=Graphics;2DGraphics;RasterGraphics;
X-Ubuntu-Gettext-Domain=gpaint-2
MimeType=image/bmp;image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-pixmap;image/x-sgi;image/x-tga;image/x-xbitmap;image/tiff;image/jpeg;image/x-psp;image/png;image/jp2;image/jpeg2000;image/jpx;
LibraryCaps=image;
