[Desktop Entry]
Type=Application
Name=Gradle Build Tool
Icon=gradle
Exec=gradle
Terminal=false
Categories=Development;IDE;Java;
LibraryCaps=documents;
MimeType=application/java;application/x-java-class;text/x-java-source;application/x-java-commerce;
