[Desktop Entry]
Exec=gvfsd
Type=System
Categories=GNOME;System;
Terminal=false
StartupNotify=true
Name=GNOME Virtual Filesystem Daemon
RWPaths=^/dev/fuse;
