[Desktop Entry]
Name=IBus Preferences
Comment=Set IBus Preferences
Exec=ibus-setup
Icon=ibus-setup
Terminal=false
Type=System
StartupNotify=true
Categories=Settings;
Keywords=keyboard;input;
NotShowIn=GNOME;Unity;
X-Desktop-File-Install-Version=0.22
X-Ubuntu-Gettext-Domain=ibus10
