[Desktop Entry]
Exec=java
Icon=java
Terminal=false
Type=Application
Categories=System;
Name=Java interpreter
MimeType=application/java;application/x-java-class;text/x-java-source;application/x-java-commerce;application/x-java-archive;
RWPaths=^~/\.java;
