[Desktop Entry]
Exec=nanomsg-7af2a445fd30f361
Icon=gtk-missing-image
Terminal=false
Type=Application
Categories=System;
Name=Unknown nanomsg-7af2a445fd30f361 (p2)
