[Desktop Entry]
Type=Desktop
Name=GPaste
Comment=Manage your clipboard history
Keywords=Clipboard;Manager;Settings;Preferences;Configuration;
Icon=gtk-paste
Exec=/usr/lib/gpaste/gpaste/gpaste-ui
DBusActivatable=true
Terminal=false
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
StartupNotify=true
X-Ubuntu-Gettext-Domain=GPaste
