[Desktop Entry]
Exec=tumblerd
Icon=thunar
Terminal=false
Type=Application
Categories=XFCE;
Name=tumblerd
RWPaths=^~/\.local/share/thumbnailers;^~/\.thumbnails/;
