[Desktop Entry]
Exec=tumblerd
Icon=thunar
Terminal=false
Type=System
Categories=XFCE;
Name=tumblerd
RWPaths=^~/\.local/share/thumbnailers;^~/\.thumbnails/;
