[Desktop Entry]
Categories=Photography;
Name=Photos lens for Unity
GenericName=unity-lens-photos
Icon=unity-lens-photos
Terminal=false
Type=Desktop
X-Ubuntu-Gettext-Domain=unity-lens-photos
