[Desktop Entry]
Name=Software Updater
GenericName=Software Updates
Comment=Show and install available updates
Exec=/usr/bin/update-manager
Icon=system-software-update
Terminal=false
Type=System
Categories=System;Settings;
X-Ubuntu-Gettext-Domain=update-manager
X-Unity-IconBackgroundColor=#4c9e39
RWPaths=^/var/lib/dpkg/lock;^/var/lib/update\-manager/meta\-release\-lts;^~/\.cache/software-center;
