[Desktop Entry]
Name=Startup Disk Creator
Name[ast]=Creador de discos d'arranque
Name[be]=Стваральнік загрузачных дыскаў
Name[bg]=Създаване на стартираща USB флаш памет
Name[ca]=Creador de discos d'arrencada
Name[cs]=Tvůrce spouštěcího disku
Name[csb]=Asystenta zrëszeniowégò diskù
Name[da]=Oprettelse af startdisk
Name[de]=Startmedienersteller
Name[el]=Δημιουργός δίσκου εκκίνησης
Name[en_AU]=Startup Disk Creator
Name[en_CA]=Startup Disk Creator
Name[en_GB]=Startup Disk Creator
Name[eo]=Kreilo de startdiskoj
Name[es]=Creador de discos de arranque
Name[et]=Käivitusketta looja
Name[fi]=Käynnistyslevyn luonti
Name[fr]=Créateur de disque de démarrage
Name[gl]=Creador de discos de arranque
Name[he]=יוצר תקליטור האיתחול
Name[hr]=Stvaratelj diska za pokretanje
Name[hu]=Indítólemez-készítő
Name[id]=Pembuat Cakram Startup
Name[it]=Creatore dischi di avvio
Name[ja]=スタートアップ・ディスクの作成
Name[ko]=시동 디스크 생성기
Name[lt]=Paleidimo laikmenos kūrimas
Name[lv]=Starta diska veidotājs
Name[ms]=Pembuat Disk Ulang Mula
Name[nb]=Verktøy for oppstartdisk
Name[nl]=Opstartschijf aanmaken
Name[oc]=Creator de disc d'aviada
Name[pl]=Asystent dysku uruchomieniowego
Name[pt]=Criador de Disco de Arranque
Name[pt_BR]=Criador de discos de inicialização
Name[ro]=Creator disc de pornire
Name[ru]=Создание загрузочного диска
Name[sk]=Tvorca štartovacieho disku
Name[sl]=Ustvarjalec zagonskega diska
Name[sq]=Krijuesi i Diskut të Nisjes
Name[sr]=Креатор диска за покретање
Name[sv]=Skapa uppstartsdisk
Name[tr]=Başlangıç Diski Oluşturucu
Name[uk]=Створення завантажувального диска
Name[vi]=Tạo ra ổ khởi động
Name[zh_CN]=启动盘创建器
Name[zh_HK]=啟動磁碟建立程式
Name[zh_TW]=開機磁碟建立程式
GenericName=Startup Disk Creator
GenericName[ast]=Creador de discos d'arranque
GenericName[be]=Стваральнік загрузачных дыскаў
GenericName[bg]=Създаване на стартираща USB флаш памет
GenericName[ca]=Creador de discos d'arrencada
GenericName[cs]=Tvůrce spouštěcího disku
GenericName[csb]=Asystenta zrëszeniowégò diskù
GenericName[da]=Oprettelse af startdisk
GenericName[de]=Startmedienersteller
GenericName[el]=Δημιουργός δίσκου εκκίνησης
GenericName[en_AU]=Startup Disk Creator
GenericName[en_CA]=Startup Disk Creator
GenericName[en_GB]=Startup Disk Creator
GenericName[eo]=Kreilo de startdiskoj
GenericName[es]=Creador de discos de arranque
GenericName[et]=Käivitusketta looja
GenericName[fi]=Käynnistyslevyn luonti
GenericName[fr]=Créateur de disque de démarrage
GenericName[gl]=Creador de discos de arranque
GenericName[he]=יוצר תקליטור האיתחול
GenericName[hr]=Stvaratelj diska za pokretanje
GenericName[hu]=Indítólemez-készítő
GenericName[id]=Pembuat Cakram Startup
GenericName[it]=Creatore dischi di avvio
GenericName[ja]=スタートアップ・ディスクの作成
GenericName[ko]=시동 디스크 생성기
GenericName[lt]=Paleidimo laikmenos kūrimas
GenericName[lv]=Starta diska veidotājs
GenericName[ms]=Pembuat Disk Ulang Mula
GenericName[nb]=Verktøy for oppstartdisk
GenericName[nl]=Opstartschijf aanmaken
GenericName[oc]=Creator de disc d'aviada
GenericName[pl]=Asystent dysku uruchomieniowego
GenericName[pt]=Criador de Disco de Arranque
GenericName[pt_BR]=Criador de discos de inicialização
GenericName[ro]=Creator disc de pornire
GenericName[ru]=Создание загрузочного диска
GenericName[sk]=Tvorca štartovacieho disku
GenericName[sl]=Ustvarjalec zagonskega diska
GenericName[sq]=Krijuesi i Diskut të Nisjes
GenericName[sr]=Креатор диска за покретање
GenericName[sv]=Skapa uppstartsdisk
GenericName[tr]=Başlangıç Diski Oluşturucu
GenericName[uk]=Створення завантажувального диска
GenericName[vi]=Tạo ra ổ khởi động
GenericName[zh_CN]=启动盘创建器
GenericName[zh_HK]=啟動磁碟建立程式
GenericName[zh_TW]=開機磁碟建立程式
Comment=Create a startup disk using a CD or disc image
Comment[ast]=Crear un discu d'arranque usando un CD o una imaxe de discu
Comment[be]=Стварыць загрузачны дыск, выкарстоўвая CD або дыскавую выяву.
Comment[bg]=Създаване на стартиращ диск чрез използване на CD или имидж от диск
Comment[ca]=Creeu un disc d'arrencada a partir d'un CD o imatge de disc
Comment[cs]=Vytvořit spouštěcí disk pomocí CD nebo obrazu disku
Comment[csb]=Ùsôdzë startowi disk brëkùjąc òbrôzu CD
Comment[da]=Opret en startdisk ved hjælp af en cd eller et diskaftryk
Comment[de]=Mithilfe eines Abbilds oder einer CD ein Startmedium erstellen
Comment[el]=Δημιουργήστε ένα δίσκο εκκίνησης χρησιμοποιώντας ένα CD ή ένα αρχείο εικόνας δίσκου
Comment[en_AU]=Create a startup disk using a CD or disc image
Comment[en_CA]=Create a startup disk using a CD or disc image
Comment[en_GB]=Create a startup disk using a CD or disc image
Comment[eo]=Krei startdiskon uzante lumdiskon aŭ diskbildon
Comment[es]=Crear un disco de arranque usando un CD o una imagen de disco
Comment[et]=Käivitusketta loomine CD või plaaditõmmise abil
Comment[fi]=Luo käynnistyslevy käyttäen CD-levyä tai levykuvaa pohjana
Comment[fr]=Créer un disque de démarrage à partir d'un CD ou d'une image disque
Comment[gl]=Crear un disco de arranque usando un CD o unha imaxe de disco
Comment[he]=צור תקליטור איתחול בעזרת תקליטור או תמונת תקליטור
Comment[hr]=Stvorite disk za pokretanje koristeći CD ili diskovnu sliku
Comment[hu]=Indítólemez létrehozása CD vagy lemezkép segítségével
Comment[id]=Membuat cakram startup menggunakan sebuah CD atau cetakan cakram
Comment[it]=Crea un disco di avvio usando un CD o un'immagine di un disco
Comment[ja]=CD またはディスクイメージを使ってスタートアップ・ディスクを作成します
Comment[ko]=CD 혹은 디스크이미지로부터 시동 디스크 만들기
Comment[lt]=Sukurti paleidimo laikmeną naudojant CD ar disko atvaizdį
Comment[lv]=Izveidot starta disku, izmantojot CD vai diska attēlu
Comment[ms]=Buatkan disk ulang mula mengunakan CD atau imej cakera padat.
Comment[nb]=Lag oppstartsdisk ved hjelp av CD- eller diskavtrykk.
Comment[nl]=Een opstartschijf maken met een cd of image-bestand
Comment[oc]=Crear un disc d'aviada a partir d'un CD o d'un imatge de disc
Comment[pl]=Utwórz dysk startowy używając obrazu CD
Comment[pt]=Criar um disco de arranque usando um CD ou uma imagem de disco.
Comment[pt_BR]=Criar um disco de inicialização usando um CD ou uma imagem de um disco
Comment[ro]=Creează disc de pornire folosind un CD sau o imagine de disc
Comment[ru]=Создание загрузочного диска с использованием CD или образа диска
Comment[sk]=Vytvorte štartovací disk pomocou CD alebo obrazu disku
Comment[sl]=Ustvari zagonski disk z uporabo CD-ja ali slike diska
Comment[sq]=Krijoni një disk nisjeje duke përdorur një CD apo imazh disku
Comment[sr]=Направите диск за покретање користећи ЦД или слику диска
Comment[sv]=Skapa en uppstartsdisk med hjälp av en cd-skiva eller skivavbildning
Comment[tr]=Bir CD ya da disk kalıbı kullanarak bir başlangıç diski oluşturun
Comment[uk]=Створення завантажувального диска з CD або образа диска
Comment[vi]=Tạo ra ổ khởi động dùng đĩa CD hoặc tệp ảnh
Comment[zh_CN]=使用光盘或镜像来创建一个启动盘
Comment[zh_HK]=使用 CD 或光碟映像檔建立啟動磁碟
Comment[zh_TW]=使用 CD 或光碟映像檔建立開機磁碟
Exec=usb-creator-kde
Icon=usb-creator-kde
Terminal=false
Type=Application
Categories=System;KDE;Qt;
X-Ubuntu-Gettext-Domain=usbcreator
