[Desktop Entry]
Exec=view.implementation.Main
Icon=gtk-missing-image
Terminal=false
Type=Application
Categories=System;
Name=Unknown Java app view.implementation.Main (p7)
