[Desktop Entry]
Name=DVI PDF
GenericName=xdvipdfmx
Comment=A DVI to PDF tool
Exec=xdvipdfmx
Icon=xdvipdfmx
Type=Application
StartupNotify=false
Categories=Office;
MimeType=application/pdf;application/x-dvi;
LibraryCaps=documents;
Terminal=true
