[Desktop Entry]
Name=Settings Manager
Exec=xfce4-settings-editor
Icon=preferences-system
Terminal=false
Type=Desktop
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;
OnlyShowIn=XFCE;
X-XfceSettingsManagerHidden=true
RWPaths=^~/\.config/xfce4/xfconf;^~/\.(config(/xfce4)?|cache|local(/share)?(/xfce4)?)$;^~$;
