[Desktop Entry]
Exec=xfce4-appearance-settings
Icon=xfce4-appearance-settings
Terminal=false
Type=Desktop
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Name=Xfce4 Appearance Settings
RWPaths=^~/\.(config(/xfce4)?|cache|local(/share)?(/xfce4)?)$;^~$;
