[Desktop Entry]
Version=1.0
Name=Xfce Verve Plugin
Exec=xfce4-verve-plugin
Terminal=false
Type=Desktop
Categories=XFCE;GTK;
NotShowIn=GNOME;KDE;Unity;
StartupNotify=true
X-XfcePluggable=true
RWPaths=^~/\.(config(/xfce4)?|cache|local(/share)?(/xfce4)?)$;^~$;
